h1 {color:#3984ab;
	font-family:serif;
  background-color:#c9dee9;}

h1{<p class="center">Center this text!</p>}


p {color:#9f2569;
	font-size: 22px;
	background-color:thistle}

 </style>
  {<img class="center">Center this image!</img>}

